
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>prueba</title>
	<link href="~/Content/Sites.css" rel="stylesheet" />
	<link href="~/Content/login.css" rel="stylesheet" />

</head>
<body>
	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<img class="img-fluid" src="~/Models/logo.jpeg" />
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Login</h2>
					</div>
					<div class="row">
						<form action="@Url.Action("Restablecer","Acceso")" method="post">
							<div class="form-floating mt-4 mb-3">
								<input class="form-control" name="correo" type="email" placeholder="name@example.com" />
								<label for="inputEmail">Email </label>
							</div>
							@{
								if (ViewBag.Error != null)
								{
									<div class="form-floating mb-3">
										<div class="alert alert-danger" role="alert">
											@ViewBag.Error
										</div>
									</div>
								}

							}
							<div class="d-flex align-items-center justify-content-between mt-4 mb-0">
								<a class="small" href="@Url.Action("Index","Acceso")">Regresar a login</a>
								<button class="btn" type="submit">Restablecer Contraseña</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script>
		// Obtenemos el div y la imagen por sus IDs
		const div = document.getElementById('contenImg');
		const imagen = document.getElementById('imgLogo');

		// Función para ajustar la imagen al tamaño del div
		function ajustarImagen() {
			const divAncho = div.offsetWidth;
			const divAlto = div.offsetHeight;

			// Establecemos el tamaño de la imagen igual al tamaño del div
			imagen.style.width = divAncho + 'px';
			imagen.style.height = divAlto + 'px';
		}

		// Llamamos a la función al cargar la página y cada vez que cambie el tamaño del div
		ajustarImagen();
		window.addEventListener('resize', ajustarImagen);



	</script>
</body>
</html>
